.App {
  text-align: center;
}

.characterList{
  margin: 50px;
}

.list{
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  flex-wrap: wrap;
  /* box-shadow: 5px solid grey;*/
  /* border: 5px solid black;  */
  margin: 5px;
}

img{
  width: 250px;
  height: 250px;
}

input{
  width: 85vw;
  height: 5vh;
  border: 2px solid black; 
}

.characters{
  /* border: 5px solid black; */
  display: flex;
  align-items: center;
  justify-content:space-around;
  flex-wrap: wrap;
  padding: 10px;
 margin: 10px;
  width: 40vw;
  box-shadow: 5px 5px 10px grey;
}